# Adding Latitude and Longitude

In [1]:
import pandas as pd
import numpy as np

### Getting the nieghborhood data

In [2]:
df = pd.read_csv('DataFrame.csv')

In [3]:
df.head()

,Unnamed: 0,Postal code,Unnamed: 2,Borough,Unnamed: 4,Neighborhood,Unnamed: 6
0,NaN,M3A,NaN,North York,NaN,Parkwoods,NaN
1,NaN,M4A,NaN,North York,NaN,Victoria Village,NaN
2,NaN,M5A,NaN,Downtown Toronto,NaN,"Regent Park , Harbourfront",NaN
3,NaN,M6A,NaN,North York,NaN,"Lawrence Manor , Lawrence Heights",NaN
4,NaN,M7A,NaN,Downtown Toronto,NaN,"Queen's Park , Ontario Provincial Government",NaN

In [6]:
df.drop(['Unnamed: 0', 'Unnamed: 2', 'Unnamed: 4', 'Unnamed: 6'], axis=1, inplace=True)

In [7]:
df.head()

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park , Harbourfront
3         M6A        North York             Lawrence Manor , Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

### Getting the latitude and longitude data

In [8]:
src = "http://cocl.us/Geospatial_data"
ll = pd.read_csv(src)
ll.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

### Renaming the 'Postal code' column

In [9]:
df.rename(columns={'Postal code':'Postal Code'}, inplace=True)
df.head()

  Postal Code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park , Harbourfront
3         M6A        North York             Lawrence Manor , Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

### Merging the two dataframes

In [10]:
df = pd.merge(df, ll, on='Postal Code')
df.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park , Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor , Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park , Ontario Provincial Government",43.662301,-79.389494